
#product-overview{
    background:linear-gradient(to top, rgba(80,68,18,0.6) 70%,transparent), url('freedom.jpg') center/cover no-repeat border-box, #ff1b68;
    /*background-image:linear-gradient(to left bottom,red,blue,green,yellowgreen,orangered);*/
    width: 100vw;
    margin-top: 2.5rem;
    height: 33vh;
    position: relative;
}
#product-overview h1{
    position: absolute;
    bottom:5%;
    left: 3%;
    color: white;
    font-size: 1.6rem;
}
@media (min-width: 40rem) and (min-height: 60rem){
    #product-overview{
        height: 40vh;
        background-position: 50% 25%;
    }
    #product-overview h1{
        font-size: 3rem;

    }
}

.section-title{
    color:#2ddf5c;
    font-family: inherit;
    text-align: center;
}

.plan{
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}
.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan__features li{
    margin: 0.5rem 0;
}
@media (min-width: 40rem) {
    .plan__list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plan{
        height: 28rem;
        margin: 0 0.7rem;
        width: 30%;
        min-width: 12rem;
        max-width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .plan--highlight{
        z-index: 50;
        height: 30rem;
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    }

}
.plan--highlight{
    background: #19b84c;
    color: white;

}
.plan__annotation{
    color: #19b84c;
    background: white;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
    padding: 8px;
    border-radius: 8px;
}
.plan__title{
    color:#19b84c;
}
.plan__price{
    color: #858585;
}
.plan--highlight .plan__title{
    color: white;
}
.plan--highlight .plan__price{
    color: #0e441f;
}

#product-overview h1{
    font-family: 'Anton', sans-serif;
    color: white;
}

#reason{
    background: #ff1b68;
    margin-top: 4.5rem;
    padding: 1rem;
    vertical-align: top;
}
#reason .section-title{
    color: white;
    margin: 2rem;
}
@media (min-width: 40rem) {
    .reason__list{
        display: flex;
        justify-content: center;
    }
    .reason__item{
        width: 30%;
        min-width: 12rem;
        max-width: 20rem;
    }
}
.reason__list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.reason__img{
    background: rosybrown;
    width: 128px;
    height: 128px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}
.reason__description{
    color: white;
    font-weight: bold;
}
