body{
    font-family: sans-serif;
}
#assignment-instructions{
    color: #3c6ffa;
    font-family: sans-serif;
}
code{
     font-family: monospace;
     color: orangered;
 }
.second-li code{
    color: #2c7a31;
}
li{
    font-family: inherit;
}
ol>li{
    background: #1b1b1b;
    color: white;
}