@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.backdrop{
    position:fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    display: none;

}
.main-header{
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    width: 100%;
    position:fixed;
    top:0;
    left: 0;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__brand{
    color:#0e441f;
    text-decoration: none;
    font-weight: bold;
}
.main-header__brand img{
    vertical-align: middle;
    height: 2.5rem;
}
.main-nav{
    display: none;
}

.mobile-nav__item--cta a{
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer{
    background: black;
    padding:1.5rem;
    margin-top: 1rem;

}
.main-footer__lists{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer__list{
    margin: 0.5rem 0;
}
.main-footer__list a{
    text-decoration: none;
    color: white;
}
.main-footer__list a:hover,
.main-footer__list a:active{
    background: white;
    color: #3c6ffa;
}
.button{
    background: #0e441f;
    color: white;
    font-family: inherit;
    padding: 0.5rem;
    border-radius: 8px;
    border:2px solid #0e441f;
    cursor: pointer;
}
.button:hover,
.button:active{
    background: white;
    color: #0e441f;
}
.button:focus{
    outline:none;
}
.button[disabled]{
    cursor: not-allowed;
    border: #a1a1a1;
    background: #ccc;
    color: #c1c1c1;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    margin: 0.8rem 0;
}

.mobile-nav__item a {
    font-size: 2rem;
    text-decoration: none;
}
.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
}
.open{
    display: block !important;
}
.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}
@media (min-width: 40rem) {
    /*main header*/
    .toggle-button{
        display: none;
    }

    .main-header__brand{
        height: 2rem;
        display: inline-block;
        vertical-align: middle;
    }
    .main-header__brand img{
        height: 100%;
    }
    .main-nav{
        display: flex;
    }
    .main-nav__items{
        margin: 0;
        padding: 0;

    }
    .main-nav__item{
        display: inline-block;
        margin: 0 1.2rem;
    }
    .main-nav__item  a,
    .mobile-nav__item a{
        text-decoration: none;
        color:#0e441f;
        padding:0.2rem 0;
        font-weight: bold;
    }
    .main-nav__item a:hover,
    .main-nav__item a:active{
        color: white;
        border-bottom: 5px solid white;
    }
    .main-nav__items--cta a{
        color: white;
        background: #ff1b68;
        padding: 0.5rem 1rem;
        border-radius: 8px;
    }
    .main-nav__items--cta a:hover,
    .main-nav__items--cta a:active{
        color: white;
        background: #ff1b68;
        padding: 0.5rem 1rem;
        border-radius: 8px;
    }
    /*footer*/
    .main-footer__lists{
        flex-direction: row;
        justify-content: center;
    }
    .main-footer__list{
        margin: 0 1rem;
    }
}